body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
.business-card {
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #cd5c5c;
}
.profile-image {
  max-width: 100%;
}
